/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  font-size: small;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}

section.titlebar {
  display: flex;
  height: 39.59px;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
}

section.titlebar > div.title {
  flex-grow: 1;
  text-align: center;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 0.2em;
  color: rgba(230, 230, 230, 0.8);
  text-shadow: 0 0 0.5em #00bfff;
  background: rgba(51, 49, 50, 0.9);
  user-select: none;
}

section.titlebar > .button {
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 0.2em;
  color: rgba(230, 230, 230, 0.8);
  background: rgba(51, 49, 50, 0.9);
  user-select: auto;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

section.titlebar > .button svg {
  filter: drop-shadow(0 0 0.5em #00bfff);
  user-select: none;
}

div.stations {
  height: calc(100vh - 39.59px);
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
}

section.station {
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 0.2em;
  color: rgba(230, 230, 230, 0.8);
  background: rgba(51, 49, 50, 0.9);
}

section.station > div.info {
  display: flex;
  align-items: center;
}

section.station > div.info > span.description {
  padding-left: 0.3em;
}

section.station > div.info > span.name {
  padding-left: 1em;
}

section.station > section.programs > div.program {
  display: flex;
  padding: 0.5em;
  gap: 0.5em;
}

section.station > section.programs > div.program > img {
  width: auto;
  height: 5em;
  outline: 1px solid rgba(93, 93, 99, 0.9);
  -webkit-user-drag: none;
}

section.station > section.programs > div.program > div.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 5em;
}

div.flex-row {
  display: flex;
  gap: 0.15em;
}

div.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
}

.led {
  position: relative;
  overflow: hidden;
  color: rgba(251, 177, 97, 0.8);
  font-size: 0.8em;
  font-weight: bold;
  text-shadow: 0 0 8em;
  outline: 1px solid rgba(93, 93, 99, 0.9);
}

.led:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 0 1px, rgba(0, 0, 0, 0.7) 1px);
  background-size: 2px 2px;
}

.led > span {
  display: inline-block;
  white-space: nowrap;
}

.led.marquee > span {
  padding-left: 100%;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.description {
  font-size: 0.7em;
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  99%,
  to {
    transform: translateX(-100%);
  }
}
